In [28]:
# Example 1:

# Input: 123
# Output: "One Hundred Twenty Three"
# Example 2:

# Input: 12345
# Output: "Twelve Thousand Three Hundred Forty Five"
# Example 3:

# Input: 1234567
# Output: "One Million Two Hundred Thirty Four Thousand Five Hundred Sixty Seven"
# Example 4:

# Input: 1234567891
# Output: "One Billion Two Hundred Thirty Four Million Five Hundred Sixty Seven Thousand Eight Hundred Ninety One"

In [73]:
def int_to_eng(num):
    if num == 0 :
        return "Zero"
    
    ans = ""
    
    big_units = ["Hundred" , "Thousand" , "Million" , "Billion"]
    
    ones_arr = ["","One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine","Ten",
                "Eleven", "Twelve", "Thirteen", "Fourteen","Fifteen" , "Sixteen" ,"Seventeen", 
                "Eighteen", "Nineteen"]
    tens_arr = ["" , "", "Twenty", "Thirty" , " Fourty" , "Fifty" , "Sixty" , "Seventy" , "Eighty" ,
                "Ninety"]
    n = len(str(num))
    while num > 0 :
        if num < 20:
            ans = ans + ones_arr[num]
            num = 0
        else:
            pass
    return ans

In [75]:
num = 18

int_to_eng(num)

'Eighteen'

In [72]:
m = 11

m % 10

1

In [27]:
m //= 1000
m

10098